body {
    background-color: rgb(255, 255, 246);
    font-family: "Lora", serif;
    margin:0;
    padding-top: 7%;
    padding-left: 28%;
    padding-RIGHT: 28%;
    text-align: center;
    animation: fadeInUp 0.5s ease-in-out;
}

/************************************************/
/* Fade in and slide up animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/************************************************/

h1 > a{
    text-decoration: none;
    color: rgb(85, 38, 136);
    text-align: center;
    font-weight: normal;
    display:inline-block;
    font-size: larger;
}
/************************************************/

nav{
    /*display:flex;*/
    justify-content: center;
    align-items:center;
    gap: 15pc;
    margin: 20px 0;
}

nav > a{
    text-decoration: none;
    color: rgb(100, 100, 165);
    text-align: center;
    font-style: normal;
}

nav a:hover {
    background-color: rgb(206, 189, 232);
    transform: scale(1.05);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;

}
/************************************************/

main > a,
main p > a {
    text-decoration: none;
    color: rgb(100, 100, 165);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

main > a:hover,
main p > a:hover {
    background-color: rgb(206, 189, 232);
    transform: scale(1.05);
}

/************************************************/
.lora-regular {
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    color: rgb(99, 24, 55);
    font-size: smaller;
    animation: fadeUp 0.8s ease-in;
    padding-bottom: 50%;
}

footer >a {
    text-decoration: none;
    color: rgb(100, 100, 165);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
footer a:hover {
    background-color: rgb(206, 189, 232);
    transform: scale(1.05);
}

main p {
    text-align: center;
}