body{
    background-color: lavenderblush;
    font-family: "Lora", serif;
    padding-left: 25%;
    padding-right: 25%;
}

h1 {
    color: rgb(75, 75, 178);
    text-align: left;
    font-weight: normal;
}

nav {
    color: rgb(100, 100, 165);
    text-align: left;
    font-weight: normal;
}

main > a{
    color: rgb(100, 100, 165);
    text-align: left;
}

footer {
    color: rgb(130, 57, 88);
}


.lora-regular {
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
}