body {
    background-color: rgb(255, 246, 249);
    font-family: "Lora", serif;
    padding-left: 25%;
    padding-right: 25%;
    animation: fadeIn 0.8s ease-in-out;
}

h1 > a{
    text-decoration: none;
    color: rgb(122, 38, 136);
    text-align: left;
    font-weight: normal;
}

nav > a{
    text-decoration: none;
    color: rgb(100, 100, 165);
    text-align: left;
}

main > a{
    text-decoration: none;
    color: rgb(100, 100, 165);
    text-align: left;
}

main > p > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: left;
}

footer {
    color: rgb(130, 57, 88);
    font-size: smaller;
}


.lora-regular {
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    color: rgb(130, 57, 88);
    font-size: smaller;
    animation: fadeUp 0.8s ease-in;
}


nav > a,
main > a,
main > p > a {
    text-decoration: none;
    color: rgb(100, 100, 165);
    display: inline-block;
    transition: color 0.5s ease, transform 0.5s ease;
}

nav > div > a,
main > a,
main > p > a {
    text-decoration: none;
    color: rgb(100, 100, 165);
    padding: 0.1em 0.25em;
    border-radius: 4px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

nav > div > a:hover,
main > a:hover,
main > p > a:hover {
    background-color: rgb(206, 189, 232); /* subtle highlight */
    color: rgb(100, 100, 165); /* text color change on hover */
    transform: scale(1.01); /* slight zoom effect */
}

nav {
    display: flex;
    justify-content: space-between; /* pushes left and right content to edges */
    align-items: center;
}

nav a {
    text-decoration: none; /* remove underlines */
    color: rgb(100, 100, 165);
}

.sep {
    margin: 0 10px;
}
